body {
    background-color: #000000 !important;
    min-height: 100vh !important;
}

/* PAGE WELCOME */
#gb {
    border: none !important;
    image-orientation: -90deg;
    transform: rotate(10deg);
}

.odometer {
    color: #ea0001;
}

.underline {
    /* width: 50%;
    height: 3px;
    border-bottom: 3px solid rgb(239,126,96); */
    width: 50%;
    margin: 0px auto;
    height: 3px;
    border-bottom: 3px solid #ea0001; 
}

.banner {
    width: 100%;
    background-image: url("/images/bg.jpg");
    background-position: center;
}

.logo {
    width: auto;
    height: auto;
    max-width: 180px;
    max-height: 180px;
}

h1 {
    font-family: 'Comfortaa', cursive;
    font-size: 60px;
    color: #0972c9;
}

h2 {
    font-family: 'Comfortaa', cursive;
    font-size: 35px;
    color: #ea0001;
}

h3 {
    font-family: 'Comfortaa', cursive;
    color: #ea0001;
}

h4 {
    color: #0972c9 !important;
}

.intro {
    font-family: 'Comfortaa', cursive;
    font-size: 20px;
    color: whitesmoke;
}

/* HEADER */
.banner {
    min-height: 200px;
}

header img {
    margin-left: 1vw !important;
}

header .title {
    margin-left: 1vw !important;
}

/* NAVBAR */
nav {
    background-color: #000000;
    margin-top: 2vh !important;
    margin-bottom: 5vh !important;
    border-bottom: 2px solid #0972c9;
}

.nav-link {
    font-family: 'Comfortaa', cursive;
    color: #0972c9 !important;
}

.nav-item {
    font-family: 'Comfortaa', cursive;
    color: #0972c9 !important;
    list-style-type: none;
}

.navbar {
    color: #000000;
}

nav a:hover {
    color: #ea0001 !important;
}

nav .btn-outline-primary {
    margin-left: 15px;
}

nav .btn-outline-primary a:hover {
    color: black !important;
}

.navbar-toggler {
    color: #ea0001 !important;
}

.headresp {
    font-size: 1.2em;
}

.liste {
    font-family: 'Comfortaa', cursive;
    color: #ea0001;
    font-size: 25px;
}

.container {
    padding-top: 50px;
}

.card {
    background-color: #000000 !important;
    color:#0972c9 !important;
}

.card-header {
    font-size:30px;
    color:#ea0001 !important;
}

.btn-outline-danger {
border-color:  #ea0001 !important;
color:#ea0001 !important;
background-color: #000000;
}

.dropdown-menu {
    background-color: #000000 !important;
}

.dropdown-item {
    background-color: #000000 !important;
    color:#0972c9 !important;
}

article {   
    color:#000000 !important;
    border-color: whitesmoke !important; 
} 

article .btn { 
    width:20%;
}

img {
    widows: 200px;
    height:200px;
}

.text-center {
    color:whitesmoke;
}

.content {
    padding-right:100px;
}

.label {
    font-size:20px;
}

.w-75 {
    font-size:20px;
    display:flex;
    align-items: center;
}

.alert {
    font-size:25px;
}

.fas {
    font-size: 30px;
    margin-right: 5px;
}

.liste{
color:White !important;

}
/* FOOTER */

footer {
    margin-top: 5vh !important;
    text-align: center;
    width: 100%;
    height: 10%; 
    background-color: #000000;
    position: relative;
    left: 0;
    bottom: 0 !important;
    font-family: 'Comfortaa', cursive;
    color: #0972c9;
}

/* UTILISÉS LORS DES FORMULAIRES */
.required {
    color: red;
    font-weight: bold !important;
    font-size: 1.2rem !important;
}

.facultatif {
    color: grey !important;
    font-style: italic;
    margin-left: 10px;
    font-size: 0.8rem !important;
}

label {
    color: white !important;
}

input {
    color: #0972c9 !important;
}

/* PAGE EVENTS - USERS */
#events_users img {
    max-width: 240px;
}

#events_users .btn-outline-danger:hover {
    color: white !important
}

#events_users h4 {
    font-family: 'Comfortaa', cursive;
}

#events_users .far {
    font-size: 3.5rem !important;
}

/* PAGE EVENT - ID - USERS */
#event_id .d-flex img {
    max-width: 200px;
    max-height: 200px;
}

#event_id .d-flex span {
    color: #0972c9 !important;
}

#event_id p {
    font-size: 1.2em;
}

#event_id p span {
    color: #0972c9 !important;
}

/* PAGE SUGGESTIONS - USERS */
#suggestions .card-header {
    flex-direction: column !important;
}

#suggestions #alert {
    font-size: 0.6em;
    border-radius: 5px;
}

/* PAGE VALIDATION SUGGESTION */
#no_access .fas {
    font-size: 3.5rem !important;
}

/* CLASSE POUR FAIRE FONCTIONNER MA FONCTION JQUERY */
.img_hover {
    transform: scale(1.3);
}

/* RESPONSIVE */
@media all and (max-width: 415px) {
    .mx-auto {
        text-align: center !important;
    }

    /* ADMIN */
    .resp {
        flex-direction: column !important;
        text-align: center;
    }

    .resp button {
        margin-bottom: 2vh !important;
    }

    /* EVENT ID - USERS */
    #event_id .d-flex {
        flex-direction: column !important;
        justify-content: center;
        align-items: center;
    }

    #event_id img {
        width: 100%;
        height: 100%;
    }

    #event_id p {
        font-size: 1.3em;
        /* text-align: left !important; */
        flex-direction: column !important;
        justify-content: center;
        align-items: center;
    }
}

/* RESPONSIVE MD */
@media all and (max-width: 980px) {
    .banner {
        background: black;
    }

    nav .btn {
        margin: 5px;
    }

    #events_users .flex-row {
        flex-direction: column !important;
        align-items: center !important;
    }

    /* #events_users .justify-content-around {
        justify-content: center !important;
    } */

    article .btn { 
        width: 50%;
        margin-top: 5px !important;
    }
}