body {
    background-color: #000000 !important;
    min-height: 100vh !important;
}

.banner {
    /* border: 2px solid #ea0001; */
    width: 100%;
    background-image: url("/images/bg.jpg");
    background-position: center;
}

.logo {
    width: auto;
    height: auto;
    max-width: 180px;
    max-height: 180px;
}

h1 {
    font-family: 'Comfortaa', cursive;
    font-size: 60px;
    color: #0972c9;
}

h2 {
    font-family: 'Comfortaa', cursive;
    font-size: 35px;
    color: #ea0001;
}

h3 {
    font-family: 'Comfortaa', cursive;
    color: #ea0001;
}

h4 {
    color: #0972c9 !important;
}

.intro {
    font-family: 'Comfortaa', cursive;
    font-size: 20px;
    color: whitesmoke;
}

/* HEADER */
.banner {
    min-height: 200px;
}

header img {
    margin-left: 1vw !important;
}

header .title {
    margin-left: 1vw !important;
}

/* NAVBAR */
nav {
    background-color: #000000;
    margin-top: 2vh !important;
    margin-bottom: 5vh !important;
}

.nav-link {
    font-family: 'Comfortaa', cursive;
    color: #0972c9 !important;
}

.nav-item {
    font-family: 'Comfortaa', cursive;
    color: #0972c9 !important;
    list-style-type: none;
}

.navbar {
    color: #000000;
}

nav a:hover {
    color: #ea0001 !important;
}

nav .btn-outline-primary {
    margin-left: 15px;
}

nav .btn-outline-primary a:hover {
    color: black !important;
}

.liste {
    font-family: 'Comfortaa', cursive;
    color: #ea0001;
    font-size: 25px;
}

.container {
    padding-top: 50px;
}

.card {
    background-color: #000000 !important;
    color:#0972c9 !important;
}

.card-header {
    font-size:30px;
    color:#ea0001 !important;
}

.btn-outline-danger {
border-color:  #ea0001 !important;
color:#ea0001 !important;
background-color: #000000;
}

.dropdown-menu {
    background-color: #000000 !important;
}

.dropdown-item {
    background-color: #000000 !important;
    color:#0972c9 !important;
}

article {   
    color:#000000 !important;
    border-color: whitesmoke !important; 
} 

article .btn { 
    width:20%;
}

img {
    widows: 200px;
    height:200px;
    border: 2px solid whitesmoke !important
}

.text-center{
    color:whitesmoke;
}

.content{
    padding-right:100px;
}

.label{
    font-size:20px;
}

.w-75 {
    font-size:20px;
    display:flex;
    align-items: center;
}

.alert {
    font-size:25px;
}

.fas {
    font-size: 30px;
}

footer {
    margin-top: 5vh !important;
    text-align: center;
    width: 100%;
    height: 10%; 
    background-color: #000000;
    position: relative;
    left: 0;
    bottom: 0 !important;
    font-family: 'Comfortaa', cursive;
    color: #0972c9;
}

/* UTILISÉS LORS DES FORMULAIRES */
.facultatif {
    color: grey !important;
    font-style: italic;
    margin-left: 10px;
    font-size: 0.8rem !important;
}

label {
    color: white !important;
}

input {
    color: #0972c9 !important;
}

/* PAGE EVENTS - USERS */
#events_users img {
    max-width: 240px;
}

#events_users .btn-outline-danger:hover {
    color: white !important
}

#events_users h4 {
    font-family: 'Comfortaa', cursive;
}

/* PAGE EVENT - ID - USERS */
#event_id .d-flex {
    font-size: 1.5em;
    justify-content: center;
    color: white;
}

#event_id .d-flex img {
    margin-right: 5vw !important;
}

#event_id .d-flex span {
    color: #0972c9 !important;
}

#event_id p {
    font-size: 1.5em;
}

#event_id p span {
    color: #0972c9 !important;
}

/* CLASSE POUR FAIRE FONCTIONNER MA FONCTION JQUERY */
.img_hover {
    transform: scale(1.5);
}

/* ADMIN */

/* RESPONSIVE */
@media all and (max-width: 415px) {
    /* NAV */
    /* .navbrand-logo {
        min-height: 50px;
        min-width: 50px;
    } */

    /* nav .nav-item {
        display: flex;
    } */

    .navbar-toggler {
        color: #ea0001 !important;
        border: 2px solid white;
    }

    .mx-auto {
        text-align: center !important;
    }

    /* ADMIN */
    .resp {
        flex-direction: column !important;
        text-align: center;
    }

    .resp button {
        margin-bottom: 2vh !important;
    }

    /* EVENT ID - USERS */
    #event_id .d-flex {
        flex-direction: column !important;
        justify-content: center;
        align-items: center;
    }

    #event_id img {
        width: 100%;
        height: 100%;
    }

    #event_id p {
        font-size: 1.5em;
        text-align: left !important;
    }
}